# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

pr:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    echo "Running the sonar scanner"
    echo "Completed the sonar scan"
  displayName: 'Review the code'

- script: |
    npm install
    npm run build
  displayName: 'npm install and build'

- script: |
    docker build -f Dockerfile .
    docker build -t rahulpawar116/order-management .
    docker push rahulpawar116/order-management:v1.0
  displayName: 'Build order mangement container'

